<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-grid.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-reboot.css" %}" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Построение поверхностей</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" data-content="nav" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-content="nav" href="{% url 'calculation' %}" tabindex="-1">Вычисление</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-content="nav" href="{% url 'surface' %}" tabindex="-1">Поверхность</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-content="nav" href="{% url 'analysis' %}" tabindex="-1">Анализ</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
      </form>
    </div>
  </nav>
  <div class="body-content">
      {% block content %}
      {% endblock %}
      <hr/>
      <footer>
          <p>Made with Django ©2020</p>
      </footer>
  </div>
  
  <script src="{% static "scripts/jquery-3.5.0.min.js" %}"></script>
  <script src="{% static "scripts/bootstrap.min.js" %}"></script>
  <script src="{% static "scripts/bootstrap.bundle.min.js" %}"></script>

  <script src="{% static "scripts/main/htmlHelper.js" %}"></script>
  <script src="{% static "scripts/main/ajaxHelper.js" %}"></script>

  <script src="{% static "scripts/main/home.js" %}"></script>
  <script src="{% static "scripts/main/calculation.js" %}"></script>
  <script src="{% static "scripts/main/surface.js" %}"></script>
  <script src="{% static "scripts/main/analysis.js" %}"></script>
  
  <script src="{% static "scripts/main/main.js" %}"></script>
</body>
</html>