{% load static %}
<div class="information-about-project__major-content_full-screen card active">
    <div class="set-full-screen">
        <img src="{% static "img/icons8-1-48.png" %}" data-content="full-screen" alt="Показать на весь экран">
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static "img/img0.jpg" %}" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Основной язык программирования: Python</li>
                    <li class="list-group-item">Вспомогательный язык программирования: JS + HTML/CSS</li>
                    <li class="list-group-item">Framewrok: Django</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    <div class="card-body">
        <h5 class="card-title">Инструменты</h5>
        <div class="info-about-project">
            Django - это фреймворк для создания веб-приложений с помощью языка программирования Python.</br>
            Django был создан в 2005 году, когда веб-разработчики из газеты Lawrence Journal-World стали
            использовать Python в качестве языка для создания веб-сайтов.
            В 2008 году вышел публичный первый релиз фреймворка.</br>
            На сегодняшний день он продолжает развиваться.Так, текущей версией фреймворка на момент
            написания этой статьи является версия 2.0, которая вышла 3 декабря 2017 года. Ну и также
            постоянно выходят подверсии.</br>
            Django довольно популярен. Он используется на многих сайтах, в том числе таких, как
            Pinterest,
            PBS, Instagram, BitBucket, Washington Times, Mozilla и многих других.</br>
            Фреймворк является бесплатным. Он развивается как open source, его исходный код открыт, его
            можно найти репозитории на githube.</br>
            Фреймворк Django реализует архитектурный паттерн Model-View-Template или сокращенно MVT,
            который
            по факту является модификацией распростаненного в веб-программировании паттерна MVC
            (Model=-View-Controller).</br>
        </div>
    </div>
</div>