{% extends "shared/layout.html" %}
{% block title %}
Вычисление
{% endblock %}
{% block content %}
{% load static %}
<div class="calculation">
  {% include 'calculation/calculationData.html'  %}
  <div class="calc-queue">
    <div id="clear" class="flex-row__space-between" style="margin: 1vw">
      <div class="order-execution flex-row__flex-start">
        <h4>Очередь</h4>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <ul class="calc-queue__list flex-row__flex-start">
      <li data-queue="0" class="calc-queue-item flex-column__center">
        <div class="calc-queue__card" data-execute="0">Пусто</div>
        <div class="results" id="result-0"></div>
      </li>
    </ul>
  </div>
  <!-- <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->
</div>
{% endblock %}