{% extends "shared/layout.html" %}
{% block title %}
Поверхность
{% endblock %}
{% block content %}
{% load static %}
<div class="flex-row__flex-start">
    <div class="surface">
        <div class="flex-row__space-around">
            <h3>Построение поверхности</h3>
        </div>
        <div class="surface__get-data">
            <div>
                <p>Значения Х</p>
                <div class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="0"
                        alt="Добавить файл с данными X">
                    <div class="file-for-surface" id="file-for-surface-0">
                        <input type="hidden" value="./Output/xArray.csv" />
                        <div class="path">xArray.csv</div>
                    </div>
                    <div class="draw__warning alert alert-warning" role="alert"
                        style="width: 20vw;" hidden>Необходимо выбрать файл</div>
                </div>
            </div>
            <div>
                <p>Значения Y</p>
                <div class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="1"
                        alt="Добавить файл с данными Y">
                    <div class="file-for-surface" id="file-for-surface-1">
                        <input type="hidden" value="./Output/yArray.csv" />
                        <div class="path">yArray.csv</div>
                    </div>
                    <div class="draw__warning alert alert-warning" role="alert"
                        style="width: 20vw;" hidden>Необходимо выбрать файл</div>
                </div>
            </div>
            <div>
                <p>Значения Z</p>
                <di class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="2"
                        alt="Добавить файл с данными Z">
                    <div class="file-for-surface" id="file-for-surface-2">
                        <input type="hidden" value="./Output/zArray.csv" />
                        <div class="path">zArray.csv</div>
                    </div>
                    <div class="draw__warning alert alert-warning" role="alert"
                        style="width: 20vw;" hidden>Необходимо выбрать файл</div>
            </div>
        </div>
        <div>
            <input type="button" data-content="draw" id="draw-surface" class="draw-surface btn btn-info"
                value="Построить">
            <button id="draw-surface-load" class="draw-surface btn btn-success" type="button" style="display: none;"
                disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Построение...
            </button>
        </div>
    </div>
    {{ Message }}
    <div class="img-surface"></div>
</div>

{% endblock %}