{% extends "shared/layout.html" %}
{% block title %}
Поверхность
{% endblock %}
{% block content %}
{% load static %}
<div class="flex-row__flex-start">
    <div class="surface">
        <h3>Построение поверхности</h3>
        <div class="surface__get-data">
            <div>
                <p>Значения Х</p>
                <div class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="0"
                        alt="Добавить файл с данными X">
                    <div class="file-for-surface" id="file-for-surface-0">None</div>
                </div>
            </div>
            <div>
                <p>Значения Y</p>
                <div class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="1"
                        alt="Добавить файл с данными Y">
                    <div class="file-for-surface" id="file-for-surface-1">None</div>
                </div>
            </div>
            <div>
                <p>Значения Z</p>
                <di class="flex-row__flex-start">
                    <img src="{% static "img/icons/icons8-1-32.png" %}" data-content="get-file" data-value="2"
                        alt="Добавить файл с данными Z">
                    <div class="file-for-surface" id="file-for-surface-2">None</div>
            </div>
        </div>
        <div>
            <input type="button" data-content="draw" id="draw-surface" class="draw-surface btn btn-info" value="Построить">
            <button id="draw-surface-load" class="draw-surface btn btn-success" type="button" style="display: none;" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Построение...
            </button>
        </div>
    </div>
    <div class="img-surface"></div>
</div>

{% endblock %}