/*Generic*/
footer,
.data-for-surface,
input.data-for-surface__field,
div.data-for-surface__field,
.information-about-project,
.draw-surface,
.calc-queue ul li,
.custom-control {
    margin: 1vw;
}

li {
    list-style-type: none;
}



.calculation,
.surface,
.analysis-result {
    margin: 2vw;
}

.surface {
    margin: 2vw 4vw;
}

.information-about-project__major-content {
    margin: 1vw 5vw;
    padding: 2vw;
    height: 60vw;
    width: 60vw;
    box-shadow: 5px 5px 5px 5px gray;
    overflow: hidden;
}

div.information-about-project__major-content_full-screen {
    position: absolute;
    padding: 2vw;
    left: 2vw;
    width: 95vw;
    box-shadow: 5px 5px 5px 5px gray;
    background: white;
    z-index: 5;
}

.set-full-screen {
    display: flex;
    justify-content: flex-end;
    margin: 0.5vw 0;
    width: 100%;
}

.full-screen-card {
    position: fixed;
    background-color: gray;
    width: 100%;
    top: 0;
    height: 100vh;
    z-index: 11;
    left: 0;
    overflow: auto;
    display: none;
}

.full-screen-card .information-about-project__major-content_full-screen {
    margin: 1vw 0;
}

.information-about-project__minor-content {
    margin: 1vw 0;
    padding: 2vw;
    height: 35vw;
    box-shadow: 5px 5px 5px 5px gray;
    overflow: auto;
}

div.information-about-project__major-content {
    display: none;
}

div.active {
    display: flex;
}

.information-about-project__minor-content .card {
    position: relative;
    max-width: 18rem;
    cursor: pointer;
    z-index: 5;
}

.information-about-project__minor-content div {
    position: relative;
    z-index: 1;
}

.data-for-surface {
    margin: 3vw;
}

#save-as {
    margin: 1vw;
    padding: 1vw;
    width: 20vw;
    box-shadow: 5px 5px 5px 5px gray;
    ;
}

.order-execution span {
    margin: 0 0.5vw;
}

.calc-queue {
    margin: 2vw;
    font-family: Comic Sans MS;
}

.calc-queue__card {
    margin: 0.5vw 1vw;
    padding: 1vw;
    width: 12vw;
    box-shadow: 5px 5px 5px 5px darkseagreen;
}

.task-complete {
    box-shadow: 5px 5px 5px 5px aquamarine;
}

.data-for-surface label {
    font-size: 18px;
    font-family: Comic Sans MS;
}

input.data-for-surface__field,
div.data-for-surface__field {
    width: 15vw;
    box-shadow: 3px 3px 3px 3px gray;
}

.surface__get-data p {
    font-family: Comic Sans MS;
}

.file-for-surface {
    font-size: 20px;
    margin: 0.5vw 1vw;
    font-family: Comic Sans MS;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    padding: 1vw;
    background: cadetblue;
    color: white;
}

/* .analysis-result {
    
} */


/*Flex*/
.flex-row__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row__flex-start-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row__flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row__flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-row__flex-start-column {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row__space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row__space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-row__space-around-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column__flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-column__flex-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}