{% load static %}
<div class="flex-row__space-around">
    <h3>Нахождение площади поверхности</h3>
    <h5>Ax^2 + By^2 + Cx + Dy</h5>
</div>
<div id="data-for-calculation" class="flex-row__center">
    <div style="flex-grow: 3;">
        <div class="row data-for-surface">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">
                        Параметры
                        <span class="badge badge-dark hint-for-params">3</span>
                        <span class="badge badge-dark hint-for-params">1</span>
                        <span class="badge badge-dark hint-for-params">5</span>
                        <span class="badge badge-dark hint-for-params">-5</span>
                        <span id="default-params" class="badge badge-white hint-for-params" hidden>По умолчанию</span>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">
                        Интервалы
                        <span class="badge badge-dark hint-for-intervals">-50</span>
                        <span class="badge badge-dark hint-for-intervals">50</span>
                        <span class="badge badge-dark hint-for-intervals">-70</span>
                        <span class="badge badge-dark hint-for-intervals">70</span>
                        <span id="default-intervals" class="badge badge-white hint-for-params" hidden>По
                            умолчанию</span>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages">
                        Процессы
                        <span class="badge badge-dark hint-for-processes">1</span>
                        <span class="badge badge-dark hint-for-processes">1000</span>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">
                        Доп. настроки
                    </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">
                        <div class="form-group">
                            <label for="id_A">Значение A</label>
                            <input type="number" id="id_A" data-content="params-for-calc-surface" data-value="0"
                                class="form-control data-for-surface__field" value="3" required>
                            <label for="id_B">Значение B</label>
                            <input type="number" id="id_B" data-content="params-for-calc-surface" data-value="1"
                                class="form-control data-for-surface__field" value="1" required>
                            <label for="id_C">Значение C</label>
                            <input type="number" id="id_C" data-content="params-for-calc-surface" data-value="2"
                                class="form-control data-for-surface__field" value="5" required>
                            <label for="id_D">Значение D</label>
                            <input type="number" id="id_D" data-content="params-for-calc-surface" data-value="3"
                                class="form-control data-for-surface__field" value="-5" required>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <label for="id_Xs">Начальное значение Х</label>
                        <input type="number" id="id_Xs" data-content="intervals-for-calc-surface" data-value="0"
                            class="form-control data-for-surface__field" value="-50" required>
                        <div class="interval__warning for-x alert alert-warning" role="alert" data-value="0"
                            style="width: 20vw;" hidden>Должно быть меньше конечного X</div>
                        <label for="id_Xf">Конечное значение Х</label>
                        <input type="number" id="id_Xf" data-content="intervals-for-calc-surface" data-value="1"
                            class="form-control data-for-surface__field" value="50" required>
                        <label for="id_Ys">Начальное значение Y</label>
                        <input type="number" id="id_Ys" data-content="intervals-for-calc-surface" data-type="interval-y"
                            data-value="2" class="form-control data-for-surface__field" value="-70" required>
                        <div class="interval__warning for-y alert alert-warning" role="alert" data-value="2"
                            style="width: 20vw;" hidden>Должно быть меньше конечного Y</div>
                        <label for="id_Yf">Конечное значение Y</label>
                        <input type="number" id="id_Yf" data-content="intervals-for-calc-surface" data-type="interval-y"
                            data-value="3" class="form-control data-for-surface__field" value="70" required>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <label for="id_Proc">Количество процессов</label>
                        <input type="number" id="id_Proc" data-content="processes-for-calc-surface" data-value="0"
                            min="1" class="form-control data-for-surface__field" value="1" required>
                        <div id="processes-for-calc-surface__warning" class="alert alert-warning" role="alert"
                            style="width: 20vw;" hidden>Значение
                            должно быть больше 0</div>
                        <label for="id_N">Количество делений</label>
                        <input type="number" id="id_N" data-content="div-for-calc-surface" data-value="1"
                            class="form-control data-for-surface__field" min="1" value="1000" required>
                        <div id="div-for-calc-surface__warning" class="alert alert-warning" role="alert"
                            style="width: 20vw;" hidden>Значение
                            должно быть больше 0</div>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="id_IsShowIntegral"
                                data-content="approx" checked>
                            <label class="custom-control-label" for="id_IsShowIntegral">Показать точное решение</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="id_IsSaveFile"
                                data-content="result-save" checked>
                            <label class="custom-control-label" for="id_IsSaveFile">Сохранить результат в файл</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" data-content="save-as"
                                id="save-as-checked">
                            <label class="custom-control-label" for="save-as-checked">Сохранить как...</label>
                        </div>
                        <div id="save-as" hidden>
                            <label for="id_XFile">Сохранение данных X</label>
                            <div class="input-group mb-3 data-for-surface__field">
                                <input type="text" class="form-control" id="id_XFile" value="xArray"
                                    data-content="file-for-date" data-value="0" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.csv</span>
                                </div>
                            </div>
                            <div class="file__warning alert alert-warning" role="alert" style="width: 18vw;" hidden>
                                Значение по умолчанию</div>
                            <label for="id_YFile">Сохранение данных Y</label>
                            <div class="input-group mb-3 data-for-surface__field">
                                <input type="text" class="form-control" id="id_YFile" value="yArray"
                                    data-content="file-for-date" data-value="1" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.csv</span>
                                </div>
                            </div>
                            <div class="file__warning alert alert-warning" role="alert" style="width: 18vw;" hidden>
                                Значение по умолчанию</div>
                            <label for="id_ZFile">Сохранение данных Z</label>
                            <div class="input-group mb-3 data-for-surface__field">
                                <input type="text" class="form-control" id="id_ZFile" value="zArray"
                                    data-content="file-for-date" data-value="2" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.csv</span>
                                </div>
                            </div>
                            <div class="file__warning alert alert-warning" role="alert" style="width: 18vw;" hidden>
                                Значение по умолчанию</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calc-surface-square">
            <input type="button" id="calc-square" class="btn btn-primary" data-content="calc-surface-square"
                value="Расчет">
            <img src="{% static "img/icons/icons8-8-32.png" %}" alt="Очередь для выполнения занята" hidden>
        </div>
    </div>
</div>