{% load static %}
<div class="flex-column__flex-end" hidden>
    <img src="{% static "img/icons/icons8-9-32.png" %}" data-content="fix-calculation">
    <div class="card-minor card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
            Площадь поверхности
        </div>
        <ul class="list-group list-group-flush text-white bg-dark mb-3">
          <li class="list-group-item text-white bg-dark mb-3">Значение: {{ Result }}</li>
          <li class="list-group-item text-white bg-dark mb-3">Время расчета: {{ ExecuteTime }}</li>
          <li class="list-group-item text-white bg-dark mb-3">Количество процессов: {{ ProcNum }}</li>
          <li class="list-group-item text-white bg-dark mb-3">
              <input type="button" class="btn btn-info" value="Подробнее"/>
              <input type="button" class="btn btn-secondary" value="Анализ"/>
          </li>
        </ul>
    </div>
</div>