{% load static %}
<div class="flex-row__space-around">
    <div class="card-minor card text-white bg-info mb-3" style="max-width: 18rem;" hidden>
        <div class="card-header">
            Площадь поверхности
        </div>
        <ul class="list-group list-group-flush text-white bg-dark mb-3">
          <li class="list-group-item text-white bg-dark mb-3">Значение: {{ Result }}</li>
          <li class="list-group-item text-white bg-dark mb-3">Время расчета: {{ ExecuteTime }}</li>
          <li class="list-group-item text-white bg-dark mb-3">Количество процессов: {{ ProcNum }}</li>
          <li class="list-group-item text-white bg-dark mb-3">
              <input type="button" class="btn btn-info" value="Подробнее"/>
          </li>
        </ul>
    </div>
</div>